* {
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}

body,
html {
  margin: 0;
  height: 100%;
  background-color: rgb(26, 24, 24);
  padding: 0;
}

.hidden {
  display: none;
}

.logo {
  cursor: pointer;
}

.down {
  margin-top: 1.5em;
}

/* NAVBAR */

.navbar {
  color: rgb(236, 232, 232);
  background-color: rgb(26, 24, 24);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 2em;
  margin-right: 4em;
}

.nav {
  margin-right: 1em;
}

.nav-el {
  align-items: center;
  display: flex;
  gap: 0.4em;
}

.nav-link {
  font-weight: 500;
  color: #faf9f9;
  text-decoration: none;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  width: 100%;
}

.mobile-nav {
  background-color: rgb(26, 24, 24);
  position: absolute;
  border-radius: 5px;
  gap: 5px;
  top: 40px;
  right: 0px;
  z-index: 99;

  padding-right: 1em;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
  font-size: 1.4em;
}

.alerts {
  max-width: 250px;
  position: fixed;
  margin: 0 auto;
  top: 10px;
  left: 0;
  right: 0;
}

/* HOMEPAGE */
.home {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.home-leftside {
  border-right: 1px solid grey;
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 2em;
  max-height: 94vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

/* Chrome, Safari */
.home-leftside::-webkit-scrollbar {
  width: 8px;
}

.home-leftside::-webkit-scrollbar-track {
  background-color: #222;
}

.home-leftside::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* Firefox */
.home-leftside {
  scrollbar-width: thin;
  scrollbar-color: #888 #222;
}

/* Edge,Internet Explorer */
.home-leftside::-ms-scrollbar {
  width: 8px;
}

.home-leftside::-ms-scrollbar-track {
  background-color: #222;
}

.home-leftside::-ms-scrollbar-thumb {
  background-color: #888;
}

.newsfeed-card {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  padding: 5.3em;
  color: white;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(222, 221, 226, 0.15) 0px 5px 20px 0px;
}

.newsfeed-card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000000af;
  width: 100%;
  z-index: 3;
  text-align: center;
}

.newsfeed-card-img-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.news-main-image {
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  transition: all 300ms;
}

.newsfeed-card:hover .news-main-image {
  transform: scale(110%);
}

.newsfeed-card:active .news-main-image {
  transform: scale(105%);
}

.external-icon {
  position: absolute;
  width: 15px;
  right: 15px;
  top: 15px;
  z-index: 2;
  filter: invert(100%);
}

.home-rightside {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  width: 100%;
  color: white;
  align-items: center;
  gap: 3em;
  padding: 0.6em;
}

.main-recommendation {
  color: white;
  background-color: rgb(24, 26, 24);
  background-image: url("/black-mirror-season-6-everything-we-know-so-far-netflix-jpg.webp");
  background-size: 102%;
  border-radius: 5px;
  width: 90%;
  padding: 2em;

  display: grid;
  grid-template-columns: 1fr 1fr;
  background-position: center;

  transition: background-size 0.5s ease-in;
  -moz-transition: background-size 0.5s ease-in;
  -ms-transition: background-size 0.5s ease-in;
  -o-transition: background-size 0.5s ease-in;
  -webkit-transition: background-size 0.5s ease-in;
  box-shadow: rgba(222, 221, 226, 0.15) 0px 5px 14px 0px;
}

.main-recommendation:hover {
  background-size: 110%;
  cursor: pointer;
}

.main-recommendation:active {
  background-size: 100%;
  cursor: pointer;
}

.recommendation-title {
  letter-spacing: 2px;
  text-shadow: 2px 2px #030303;
  text-align: right;
}

.upcoming-title {
  font-size: 2.2em;
  text-shadow: 2px 2px #030303;
  text-align: left;
}

.arrives {
  text-shadow: 2px 2px #030303;
  font-size: 1.4em;
}

.recommendation-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recommendation-available-container {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.recommendation-available-container p {
  margin-left: 2em;
}

.continue-watching {
  display: grid;
  grid-template-columns: 1fr 1fr;

  justify-content: center;

  max-width: 90%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-height: 40%;
}

.upcoming-img-container {
  display: flex;
  justify-content: center;
  width: 600px;
}

.recommend-btn-container {
  display: flex;
  gap: 1em;
}

.continue-btn,
.recommend-btn,
.upcoming-btn {
  cursor: pointer;
  padding: 0.4em 1em;
  border-radius: 6px;
  border: none;
  font-size: 1em;
  transition: all 300ms;
  background-color: #000;
  color: white;
  display: inline-block;
  text-align: center;
}

.continue-btn:hover,
.recommend-btn:hover,
.upcoming-btn:hover {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  text-shadow: none;
}

.upcoming-episode-card {
  border-radius: 10px;
  text-align: center;
  text-shadow: 2px 2px #111111;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upcoming-episode-card img {
  position: relative;
  object-fit: cover;
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  filter: blur(1px);
  opacity: 80%;
  border-radius: 10px;
}

.upcoming-episode-card-content {
  position: absolute;
  padding: 0.2em;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.continue-title {
  font-size: 1.6em;
  padding: 0;
  margin: 0;
}

.continue-episode {
  font-size: 1.2em;
}

.recommended-foryou {
  color: white;
  background-color: green;
  background-image: url("/bridgerton_photo.webp");
  background-size: 100%;
  border-radius: 5px;
  width: 90%;
  padding: 4em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-position: top;
  margin-bottom: 1em;

  transition: background-size 0.5s ease-in;
  -moz-transition: background-size 0.5s ease-in;
  -ms-transition: background-size 0.5s ease-in;
  -o-transition: background-size 0.5s ease-in;
  -webkit-transition: background-size 0.5s ease-in;
  box-shadow: rgba(222, 221, 226, 0.15) 0px 5px 20px 0px;
}

.recommended-foryou:hover {
  background-size: 110%;
  cursor: pointer;
}

.recommended-foryou:active {
  background-size: 100%;
  cursor: pointer;
}

.tracklist {
  padding: 1em;
}

/* SEARCH */

.searchbar {
  line-height: 1.6;
  justify-self: end;
  max-width: 350px;
  height: 30px;
  padding-left: 15px;
  padding-top: 5px;
  border-radius: 4px;
  border: none;
  color: #000000;
  font-weight: 500;
  background-color: #fffbf8;
  -webkit-box-shadow: 0 -2px 2px 0 rgba(199, 199, 199, 0.55), 0 1px 1px 0 #fff,
    0 2px 2px 1px #fafafa, 0 2px 4px 0 #b2b2b2 inset, 0 -1px 1px 0 #f2f2f2 inset,
    0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
  -moz-box-shadow: 0 -2px 2px 0 rgba(199, 199, 199, 0.55), 0 1px 1px 0 #fff,
    0 2px 2px 1px #fafafa, 0 2px 4px 0 #b2b2b2 inset, 0 -1px 1px 0 #f2f2f2 inset,
    0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
  box-shadow: 0 -2px 2px 0 rgba(199, 199, 199, 0.55), 0 1px 1px 0 #fff,
    0 2px 2px 1px #fafafa, 0 2px 4px 0 #b2b2b2 inset, 0 -1px 1px 0 #f2f2f2 inset,
    0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
}

/* //Display of search results */

.search-result-back:hover {
  cursor: pointer;
}

.search-results {
  transition: all 600ms;
  flex-direction: column;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.377);
  border-radius: 4px;
  max-height: 100vh;
  overflow-y: scroll;
  cursor: pointer;
  z-index: 4;
  gap: 2em;
  padding: 0.2;
}

.search-results::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.search-results::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(223, 223, 223);
  border-radius: 10px;
}

/* Handle */
.search-results::-webkit-scrollbar-thumb {
  background: rgb(102, 100, 100);
  border-radius: 5px;
}

.spinner-container {
  display: flex;
  padding: 10em;
}
/* ///Search result card */
.card {
  color: #fff;
  max-width: 60%;
  max-height: 295px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 1em;

  display: flex;

  background: -webkit-linear-gradient(to right, #656865, #191b1b);

  background: -webkit-linear-gradient(left, #565857, #191b1b);
  background: -o-linear-gradient(left, #525352, #191b1b);
  background: linear-gradient(to right, #616462, #191b1b);
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  box-shadow: rgba(222, 221, 226, 0.15) 0px 5px 14px 0px;
  border-radius: 9px;
}

.card_left {
  width: 90%;
}

.card_datails {
  width: 90%;
  padding: 20px;
  margin: 0;
}
.card_datails h1 {
  font-size: 30px;
  margin: 0;
}
.card_right img {
  max-height: 300px;
  border-radius: 2px;
}
.card_right {
  border-radius: 2px;
}

.card_cat {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PG,
.year,
.genre,
.time {
  color: fff;
  padding: 10px;
  font-weight: bold;
  border-radius: 15px;
}

.PG {
  color: #000000;
  background: #ffffff;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  -webkit-transition: 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.disc {
  font-weight: 100;
  margin: 0;
  padding: 0;
  max-height: 70px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.disc::-webkit-scrollbar {
  display: none;
}

.tracklist-card {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 60%;
  background: -webkit-linear-gradient(to right, #656865, #191b1b);

  background: -webkit-linear-gradient(left, #565857, #191b1b);
  background: -o-linear-gradient(left, #525352, #191b1b);
  background: linear-gradient(to right, #616462, #191b1b);
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  box-shadow: rgba(222, 221, 226, 0.15) 0px 5px 14px 0px;
  border-radius: 9px;
  border-radius: 10px;
  margin-bottom: 2em;
  padding: 0.4em;
}

.tracklist-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seasons {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.progress-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  color: darkcyan;
  display: block;
  text-decoration: none;
}
.btn-container {
  justify-self: end;
  margin-top: 30px;
}
.btn {
  margin-left: 10px;
  font-weight: 700;
  color: #000000;
  border: none;
  padding: 10px;
  outline: none;
  font-size: 16px;
  background: #ffffff;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* //Rating form */
.rating {
  background-color: #000000ec;
  text-align: center;
  color: white;
  flex-direction: column;
  border-radius: 10px;
  z-index: 99;
  padding: 2em;
  border: 1px solid rgba(255, 255, 255, 0.623);
}

.form {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 0 auto;
  max-width: 80%;
}

.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
  cursor: pointer;
}

.rating-title {
  margin: 0;
}

.rate-btn {
  margin: 0.2em auto;
  max-width: 200px;
  padding: 0.2em 2em;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  margin-top: 10px;
  border: none;
}

textarea {
  font-size: 12px;
  resize: none;
  max-width: 98%;
  padding: 1%;
  border: none;
  background-color: #f5f2f2fa;
}

input[type="range"] {
  cursor: pointer;
}

.toplist {
  padding: 1em;
  height: 100vh;
}

.toplist-experience {
  word-break: break-all;
}

.toplist-ratings {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.8em;
}

.toplist-ratings p {
  margin: 0;
}

.toplist-left {
  max-width: 90%;
}

/* //WATCHLIST */
.watchlist {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}

.watchlist-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.watchlist-title {
  color: white;
}

@media screen and (max-width: 1500px) {
  .home {
    display: flex;
    flex-direction: column;
  }
  .home-leftside {
    flex-direction: row;
    border: none;
    padding-top: 6em;
    padding-bottom: 6em;
    height: 100px;
    align-items: center;
    justify-content: start;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .newsfeed-card {
    height: 100px;
  }
  .news-main-image {
    height: 100%;
    object-fit: cover;
  }

  .home-rightside {
    justify-content: start;
    align-items: center;
    gap: 1em;
  }
  .continue-watching {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-height: 40%;
    gap: 1em;
  }
  .upcoming-episode-card {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .upcoming-episode-card-content {
    max-width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .upcoming-img-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .upcoming-episode-card img {
    width: 1070px;
  }

  .upcoming-episode-card-content {
    width: 100%;
  }
}

@media screen and (min-width: 1500px) {
  .upcoming-episode-card img {
    max-width: 80%;
  }
}

@media screen and (max-width: 1200px) {
  .card {
    max-width: 90%;
  }

  .card_left {
    max-width: 80%;
  }

  .card_datails {
    padding: 10px;
  }

  .card_datails h1 {
    font-size: 25px;
  }

  .btn {
    font-size: 12px;
  }

  .PG,
  .genre {
    font-size: 12px;
    padding: 4px;
  }
}

@media screen and (max-width: 850px) {
  .card {
    max-width: 90%;
  }
  .tracklist-card {
    max-width: 90%;
  }
}
@media screen and (min-width: 736px) {
  .mobile-nav {
    display: none;
  }
}

@media screen and (max-width: 736px) {
  .searchbar {
    width: 100%;
  }
  .rating {
    padding: 1em;
  }
  .form {
    padding: 1em;
  }
  .card_right {
    height: 300px;
  }

  .card_datails {
    padding: 40px;
  }

  .disc {
    font-size: 12px;
  }

  .nav {
    display: none;
  }

  .PG,
  .year,
  .genre,
  .time {
    font-size: 12px;
    padding: 2px;
  }

  .burger {
    display: block;
    padding: 1em;
    cursor: pointer;
    margin-right: 0.4em;
  }
}

@media screen and (max-width: 660px) {
  .card_left {
    padding: 0;
  }
  .btn-container button {
    font-size: 0.6em;
    margin-left: 4px;
  }

  .card_datails {
    width: 110%;
  }

  .card_datails h1 {
    font-size: 1.2em;
  }

  .img_container {
    width: 160px;
    height: 100%;
  }

  .img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 0;
  }
}

@media screen and (max-width: 445px) {
  .recommended-foryou {
    grid-template-columns: 1fr;
  }

  .card_datails {
    padding: 1em;
  }
}

@media screen and (max-width: 420px) {
  .rating {
    padding: 0.2em;
  }
  .form {
    padding: 0.2em;
  }
  .continue-title {
    font-size: 1.4em;
  }

  .continue-episode {
    font-size: 1em;
  }
}

@media screen and (max-width: 400px) {
  .continue-title {
    font-size: 1.2em;
  }

  .continue-episode {
    font-size: 0.9em;
  }

  .recommendation-title {
    font-size: 1.4em;
  }

  .logo {
    margin-left: 0.8em;
  }
  .upcoming-title {
    font-size: 1.8em;
  }

  .searchbar {
    width: 160px;
    margin: 0 auto;
  }

  .tracklist-head h1 {
    font-size: 1.2em;
  }
}

.accordion {
  width: 100%;
  margin: 0 auto;
  z-index: 0;
}

@media screen and (max-width: 360px) {
  .card_datails {
    padding: 0.3em;
    width: 160px;
  }
}
